@import "tailwindcss";

@theme {
  --color-button-bg: #333;
  --color-button-border: #444;
  --color-button-pressed-bg: #555;
  --color-joystick-nipple: #121212;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
  @apply h-full w-full;
}

html,
body {
  @apply touch-none overscroll-none bg-gray-900 h-full w-full;
}
